# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
cache/*
/sites/all/themes/telos-html/nbproject/private/
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties
nbproject/project.xml